
<div>
    <h2><span data-translate="reunionsApp.sesion.detail.title">Sesion</span> {{vm.sesion.numero}} - {{vm.sesion.organo.nombre}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="reunionsApp.sesion.numero">Numero</span></dt>
        <dd>
            <span>{{vm.sesion.numero}}</span>
        </dd>
        <dt><span data-translate="reunionsApp.sesion.primeraConvocatoria">Primera Convocatoria</span></dt>
        <dd>
            <span>{{vm.sesion.primeraConvocatoria | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="reunionsApp.sesion.segundaConvocatoria">Segunda Convocatoria</span></dt>
        <dd>
            <span>{{vm.sesion.segundaConvocatoria | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="reunionsApp.sesion.lugar">Lugar</span></dt>
        <dd>
            <span>{{vm.sesion.lugar}}</span>
        </dd>
        <dt><span data-translate="reunionsApp.sesion.descripcion">Descripcion</span></dt>
        <dd>
           <pre>{{vm.sesion.descripcion}}</pre>
        </dd>
        <dt><span data-translate="reunionsApp.sesion.organo">Organo</span></dt>
        <dd>
            <a ui-sref="organo-detail({id:vm.sesion.organo.id})">{{vm.sesion.organo.nombre}}</a>
        </dd>
        <dt><span data-translate="reunionsApp.sesion.documentos">Documentos</span></dt>
        <dd>
            <div class="row">
                <div class="col-xs-8">
                    <li ng-repeat="documento in vm.documentos">
                        <a ng-if="documento.archivo" ng-click="vm.openFile(documento.archivoContentType, documento.archivo)">{{documento.nombre}}</a>
                        <span ng-if="documento.archivo">{{documento.archivoContentType}}, {{vm.byteSize(documento.archivo)}}</span>
                        <button type="submit"
                                ui-sref="documento.delete({idd:documento.id})"
                                class="btn btn-link btn-xs">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                        </button>
                    </li>
                </div>

                <div class="col-xs-4 no-padding-right">
                <button class="btn btn-primary" ui-sref="documento.new({sesion:vm.sesion})" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="reunionsApp.documento.home.createLabel">
                            Create new Documento
                        </span>
                </button>
                </div>

            </div>
        </dd>
    </dl>

    <h3><span data-translate="reunionsApp.sesion.participantes">Participantes</span></h3>
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-8 no-padding-left">
                <button class="btn btn-primary" ui-sref="participante.new({sesion:vm.sesion})" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="reunionsApp.participante.home.createLabel">
                    Add new participante
                </span>
                </button>

                <button class="btn btn-info" ng-click="vm.notificar(vm.sesion.id)">
                    <span class="glyphicon glyphicon-share"></span>
                    <span class="hidden-xs"  data-translate="reunionsApp.sesion.notificar">
                    Notificar participantes
                </span>
                </button>

                <button class="btn btn-info" ng-click="vm.exportar()">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="reunionsApp.sesion.exportar">
                    Exportar participación
                    </span>
                </button>
            </div>

            <div class="col-xs-4 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" ng-model="q" id="search" class="form-control" placeholder="{{ 'reunionsApp.participante.home.search' | translate }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span data-translate="reunionsApp.participante.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th><span data-translate="reunionsApp.participante.email">E-mail</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th><span data-translate="reunionsApp.participante.cargo">Cargo</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th><span data-translate="reunionsApp.participante.asistencia">Asistencia</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th><span data-translate="reunionsApp.participante.observaciones">Observaciones</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="participante in vm.participantes | orderBy:'user.lastName' | filter:q | itemsPerPage: 10">
                <td>
                    <a ui-sref="user-management-detail({login:participante.user.login})">{{participante.user.lastName}}, {{participante.user.firstName}}</a>
                </td>
                <td>
                    {{participante.user.email}}
                </td>
                <td>
                    {{participante.cargo.nombre}}
                </td>
                <td>{{participante.asistencia}}</td>
                <td>{{participante.observaciones}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="participante.edit({idp:participante.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="participante.delete({idp:participante.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <dir-pagination-controls></dir-pagination-controls>
    </div>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="sesion-detail.edit({id:vm.sesion.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
