
<div>
    <h2>{{vm.organo.nombre}}</h2>
    <hr>
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="reunionsApp.organo.descripcion">Descripcion</span></dt>
        <dd>
            <span>{{vm.organo.descripcion}}</span>
        </dd>
        <dt><span data-translate="reunionsApp.organo.grupo">Grupo</span></dt>
        <dd>
            <a ui-sref="grupo-detail({id:vm.organo.grupo.id})">{{vm.organo.grupo.nombre}}</a>
        </dd>
    </dl>


    <h3><span data-translate="reunionsApp.organo.miembros">Miembros actuales</span></h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="miembro.new({organo:vm.organo})" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="reunionsApp.miembro.home.createLabel">
                    Add new miembro
                </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" ng-model="q" id="search" class="form-control" placeholder="{{ 'reunionsApp.miembro.home.search' | translate }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span data-translate="reunionsApp.miembro.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th><span data-translate="reunionsApp.miembro.cargo">Cargo</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th><span data-translate="reunionsApp.miembro.fechaAlta">Fecha Alta</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th><span data-translate="reunionsApp.miembro.observaciones">Observaciones</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="miembro in vm.miembros | orderBy:'user.lastName' | filter:q | itemsPerPage: 10">
                <td>
                    {{miembro.user.lastName}}, {{miembro.user.firstName}}
                </td>
                <td>
                    {{miembro.cargo.nombre}}
                </td>
                <td>{{miembro.fechaAlta | date:'mediumDate'}}</td>
                <td>{{miembro.observaciones}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="miembro.edit({idm:miembro.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="miembro.delete({idm:miembro.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <dir-pagination-controls></dir-pagination-controls>
    </div>

    <hr>

    <h3><span data-translate="reunionsApp.organo.miembrosAnteriores">Miembros anteriores</span></h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" ng-model="qa" id="searchAnt" class="form-control" placeholder="{{ 'reunionsApp.miembro.home.search' | translate }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span data-translate="reunionsApp.miembro.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th><span data-translate="reunionsApp.miembro.cargo">Cargo</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th><span data-translate="reunionsApp.miembro.fechaAlta">Fecha Alta</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th><span data-translate="reunionsApp.miembro.fechaBaja">Fecha Baja</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th><span data-translate="reunionsApp.miembro.observaciones">Observaciones</span> <span class="glyphicon glyphicon-sort"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="miembro in vm.miembrosAnteriores | orderBy:'user.lastName' | filter:qa | itemsPerPage: 10">
                <td>
                    {{miembro.user.lastName}}, {{miembro.user.firstName}}
                </td>
                <td>
                    {{miembro.cargo.nombre}}
                </td>
                <td>{{miembro.fechaAlta | date:'mediumDate'}}</td>
                <td>{{miembro.fechaBaja | date:'mediumDate'}}</td>
                <td>{{miembro.observaciones}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <dir-pagination-controls></dir-pagination-controls>
    </div>

    <hr>

    <h3><span data-translate="reunionsApp.organo.sesiones">Sesiones</span></h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="sesion.new({organo:vm.organo})" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="reunionsApp.sesion.home.createLabel">
                    Add new sesion
                </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" ng-model="qs" id="searchSes" class="form-control" placeholder="{{ 'reunionsApp.sesion.home.search' | translate }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span data-translate="reunionsApp.sesion.numero">Numero</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th><span data-translate="reunionsApp.sesion.primeraConvocatoria">Primera Convocatoria</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th><span data-translate="reunionsApp.sesion.segundaConvocatoria">Segunda Convocatoria</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th><span data-translate="reunionsApp.sesion.lugar">Lugar</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="sesion in vm.sesiones | orderBy:'sesion.primeraConvocatoria' | filter:qs | itemsPerPage: 10">
                <td><a ui-sref="sesion-detail({id:sesion.id})">{{sesion.numero}}</a></td>
                <td>{{sesion.primeraConvocatoria | date:'medium'}}</td>
                <td>{{sesion.segundaConvocatoria | date:'medium'}}</td>
                <td>{{sesion.lugar}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="sesion-detail({id:sesion.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="sesion.edit({ids:sesion.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="sesion.delete({ids:sesion.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <dir-pagination-controls></dir-pagination-controls>
    </div>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="organo-detail.edit({id:vm.organo.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
