
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myParticipanteLabel" data-translate="reunionsApp.participante.home.createOrEditLabel">Create or edit a Participante</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="false">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.participante.id" disabled />
        </div>
        <div class="form-group">
            <label data-translate="reunionsApp.participante.user" for="field_user">User</label>
            <input ng-disabled="vm.participante.id" type="text" id="field_user" name="user" ng-model="vm.participante.user" uib-typeahead="user as user.lastName + ', ' + user.firstName for user in vm.users | filter:$viewValue:vm.qFn | orderBy:('lastName|noAccents')" class="form-control" required typeahead-editable="false" autocomplete="off">
        </div>
        <div ng-show="editForm.user.$invalid">
            <p class="help-block"
               ng-show="editForm.user.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="reunionsApp.participante.asistencia" for="field_asistencia">Asistencia</label>
            <select class="form-control" name="asistencia" ng-model="vm.participante.asistencia" id="field_asistencia">
                <option value="asiste" data-translate="reunionsApp.Asistencia.asiste">asiste</option>
                <option value="falta" data-translate="reunionsApp.Asistencia.falta">falta</option>
                <option value="disculpa" data-translate="reunionsApp.Asistencia.disculpa">disculpa</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="reunionsApp.participante.observaciones" for="field_observaciones">Observaciones</label>
            <input type="text" class="form-control" name="observaciones" id="field_observaciones"
                    ng-model="vm.participante.observaciones"
                     />
        </div>

        <div class="form-group">
            <label data-translate="reunionsApp.participante.sesion" for="field_sesion">Sesion</label>
            <select class="form-control" id="field_sesion" name="sesion" ng-model="vm.participante.sesion" ng-options="sesion as sesion.numero for sesion in vm.sesions track by sesion.id" required disabled>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.sesion.$invalid">
            <p class="help-block"
                ng-show="editForm.sesion.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="reunionsApp.participante.cargo" for="field_cargo">Cargo</label>
            <select class="form-control" id="field_cargo" name="cargo" ng-model="vm.participante.cargo" ng-options="cargo as cargo.nombre for cargo in vm.cargos track by cargo.id" required ng-disabled="vm.participante.id">
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.cargo.$invalid">
            <p class="help-block"
                ng-show="editForm.cargo.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
