<div>
    <h2><span data-translate="userManagement.detail.title">User</span> "{{vm.user.login}}"</h2>
    <dl class="dl-horizontal">
        <dt><span data-translate="userManagement.login">Login</span></dt>
        <dd><span>{{vm.user.login}}</span></dd>
        <dt><span data-translate="userManagement.firstName">First Name</span></dt>
        <dd>{{vm.user.firstName}}</dd>
        <dt><span data-translate="userManagement.lastName">Last Name</span></dt>
        <dd>{{vm.user.lastName}}</dd>
        <dt><span data-translate="userManagement.email">Email</span></dt>
        <dd>{{vm.user.email}}</dd>
    </dl>
    <br/>

    <h3><span data-translate="userManagement.detail.organosActuales" id="organosActuales">Órganos actuales</span></h3>
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-8 no-padding-left">
            </div>

            <div class="col-xs-4 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" ng-model="qo" id="searchOrgano" class="form-control" placeholder="{{ 'userManagement.search' | translate }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicateOrganos" ascending="vm.reverseOrganos">
                <th jh-sort-by="organo.nombre|noAccents"><span data-translate="userManagement.detail.organo">Órgano</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="cargo.nombre|noAccents"><span data-translate="userManagement.detail.cargo">Cargo</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="fechaAlta"><span data-translate="userManagement.detail.fechaAlta">Fecha Alta</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="observaciones|noAccents"><span data-translate="userManagement.detail.observaciones">Observaciones</span> <span class="glyphicon glyphicon-sort"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="miembro in vm.membresia | orderBy:vm.predicateOrganos:!vm.reverseOrganos | filter:qo:vm.qFn | itemsPerPage: 10" pagination-id="organos">
                <td><a ui-sref="organo-detail({id:miembro.organo.id})">{{miembro.organo.nombre}}</a></td>
                <td>{{miembro.cargo.nombre}}</td>
                <td>{{miembro.fechaAlta | date:'mediumDate'}}</td>
                <td>{{miembro.observaciones}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <dir-pagination-controls pagination-id="organos" on-page-change="vm.goUp('organosActuales')"></dir-pagination-controls>
    </div>

    <h3><span data-translate="userManagement.detail.participaciones" id="participaciones">Participaciones</span></h3>
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-8 no-padding-left">
            </div>

            <div class="col-xs-4 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" ng-model="qp" id="searchParticipacion" class="form-control" placeholder="{{ 'userManagement.search' | translate }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicateParticipaciones" ascending="vm.reverseParticipaciones">
                <th jh-sort-by="sesion.organo.nombre|noAccents"><span data-translate="userManagement.detail.organo">Órgano</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="sesion.numero"><span data-translate="userManagement.detail.numero">Numero</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="sesion.primeraConvocatoria"><span data-translate="userManagement.detail.primeraConvocatoria">Primera Convocatoria</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="sesion.segundaConvocatoria"><span data-translate="userManagement.detail.segundaConvocatoria">Segunda Convocatoria</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="sesion.lugar|noAccents"><span data-translate="userManagement.detail.lugar">Lugar</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="cargo.nombre|noAccents"><span data-translate="userManagement.detail.cargo">Cargo</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="asistencia|noAccents"><span data-translate="userManagement.detail.asistencia">Asistencia</span> <span class="glyphicon glyphicon-sort"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="participante in vm.participaciones | orderBy:vm.predicateParticipaciones:!vm.reverseParticipaciones | filter:qp | itemsPerPage: 5" pagination-id="participaciones">
                <td><a ui-sref="organo-detail({id:sesion.organo.id})">{{participante.sesion.organo.nombre}}</a></td>
                <td><a ui-sref="sesion-detail({id:sesion.id})">{{participante.sesion.numero}}</a></td>
                <td>{{participante.sesion.primeraConvocatoria | date:'medium'}}</td>
                <td>{{participante.sesion.segundaConvocatoria | date:'medium'}}</td>
                <td>{{participante.sesion.lugar}}</td>
                <td>{{participante.cargo.nombre}}</td>
                <td>{{participante.asistencia}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <dir-pagination-controls pagination-id="participaciones" on-page-change="vm.goUp('participaciones')"></dir-pagination-controls>
    </div>

    <h3><span data-translate="userManagement.resumen" id="titulo">Cuadro resumen</span></h3>
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-8 no-padding-left">
                <button class="btn btn-info" ng-click="vm.exportar()">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="userManagement.exportar">
                    Exportar resumen
                    </span>
                </button>
            </div>

            <div class="col-xs-4 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" ng-model="q" id="search" class="form-control" placeholder="{{ 'userManagement.search' | translate }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse">
                <th jh-sort-by="curso"><span data-translate="userManagement.curso">Curso</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="organo.nombre|noAccents"><span data-translate="userManagement.organo">Órgano</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="convocado"><span data-translate="userManagement.convocado">Convocado</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="asiste"><span data-translate="userManagement.asiste">Asiste</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="falta"><span data-translate="userManagement.falta">Falta</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="disculpa"><span data-translate="userManagement.disculpa">Disculpa</span> <span class="glyphicon glyphicon-sort"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="linea in vm.resumen | orderBy:vm.predicate:!vm.reverse | filter:q:vm.qFn | itemsPerPage: 20">
                <td>{{linea.curso}}</td>
                <td><a ui-sref="organo-detail({id:linea.organo.id})">{{linea.organo.nombre}}</a></td>
                <td>{{linea.convocado}}</td>
                <td>{{linea.asiste}}</td>
                <td>{{linea.falta}}</td>
                <td>{{linea.disculpa}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <dir-pagination-controls on-page-change="vm.goUp('titulo')"></dir-pagination-controls>
    </div>

    <button type="submit" ng-click="vm.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="user-management-detail.edit({login:vm.user.login})" class="btn btn-primary" has-authority="ROLE_ADMIN">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
