<div>
    <h2><span data-translate="userManagement.detail.title">User</span> "{{vm.user.login}}"</h2>
    <dl class="dl-horizontal">
        <dt><span data-translate="userManagement.login">Login</span></dt>
        <dd><span>{{vm.user.login}}</span></dd>
        <dt><span data-translate="userManagement.firstName">First Name</span></dt>
        <dd>{{vm.user.firstName}}</dd>
        <dt><span data-translate="userManagement.lastName">Last Name</span></dt>
        <dd>{{vm.user.lastName}}</dd>
        <dt><span data-translate="userManagement.email">Email</span></dt>
        <dd>{{vm.user.email}}</dd>
        <dt><span data-translate="userManagement.activated">Activated</span></dt>
        <dd>{{vm.user.activated}}</dd>
        <dt><span data-translate="userManagement.langKey">Lang Key</span></dt>
        <dd>{{vm.user.langKey}}</dd>
        <dt><span data-translate="userManagement.createdBy">Created By</span></dt>
        <dd>{{vm.user.createdBy}}</dd>
        <dt><span data-translate="userManagement.createdDate">Created Date</span></dt>
        <dd>{{vm.user.createdDate | date:'dd/MM/yy HH:mm' }}</dd>
        <dt><span data-translate="userManagement.lastModifiedBy">Last Modified By</span></dt>
        <dd>{{vm.user.lastModifiedBy}}</dd>
        <dt><span data-translate="userManagement.lastModifiedDate">Last Modified Date</span></dt>
        <dd>{{vm.user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</dd>
        <dt><span data-translate="userManagement.profiles">Profiles</span></dt>
        <dd>
            <ul class="list-unstyled">
                <li ng-repeat="authority in vm.user.authorities"><span>{{authority}}</span></li>
            </ul>
        </dd>
    </dl>

    <h3><span data-translate="userManagement.resumen">Cuadro resumen</span></h3>
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-8 no-padding-left">
                <button class="btn btn-info" ng-click="vm.exportar()">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="userManagement.exportar">
                    Exportar resumen
                    </span>
                </button>
            </div>

            <div class="col-xs-4 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" ng-model="q" id="search" class="form-control" placeholder="{{ 'userManagement.search' | translate }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span data-translate="userManagement.curso">Curso</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th><span data-translate="userManagement.organo">Órgano</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th><span data-translate="userManagement.convocado">Convocado</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th><span data-translate="userManagement.asiste">Asiste</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th><span data-translate="userManagement.falta">Falta</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th><span data-translate="userManagement.disculpa">Disculpa</span> <span class="glyphicon glyphicon-sort"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="linea in vm.resumen | orderBy:'curso':true | filter:q | itemsPerPage: 10">
                <td>{{linea.curso}}</td>
                <td><a ui-sref="organo-detail({id:linea.organo.id})">{{linea.organo.nombre}}</a></td>
                <td>{{linea.convocado}}</td>
                <td>{{linea.asiste}}</td>
                <td>{{linea.falta}}</td>
                <td>{{linea.disculpa}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <dir-pagination-controls></dir-pagination-controls>
    </div>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="user-management-detail.edit({login:vm.user.login})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
